<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="codemirror.css">
  <link rel="stylesheet" href="simple-hint.css">
  <script src="draw-lexicon.js"></script>
  <script src="underscore.js"></script>
  <script src="jquery.js"></script>
  <script src="d3.v2.js"></script>
  <script src="graffiticode.js"></script>
  <script src="parse.js"></script>
  <script src="codemirror.js"></script>
  <script src="simple-hint.js"></script>
  <script src="mode-graffiti.js"></script>
  <script src="mode-xml.js"></script>
  <script src="mode-javascript.js"></script>
  <style>
//    .CodeMirror {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
    span.cm-meta {color: #a0b !important;}
    span.cm-error { background-color: black; opacity: 0.4;}
    span.cm-error.cm-string { background-color: red; }
    span.cm-error.cm-tag { background-color: #2b2; }
  </style>
  <title><%=title%></title>
</head>
<body>
  <div class="main">
    <div class="button-bar"></div>
    <div class="gallery-panel"></div>
    <div class="essay-panel" style="display:none;"></div>
    <div class="edit-panel">
      <div id="help-view">
      </div>
      <div id="editor">
	<div id="edit-view" name="code"></div>
	<div id="obj-view" name="code"></div>
      </div>
      <div id="graff-view">
      </div>
    </div>
  </div>
  <script>

$(document).ready(function () {
    editor = CodeMirror(document.querySelector("#edit-view"), {
	mode:  "graffiti",
	lineWrapping: "true",
	lineNumbers: "true",
        indentWithTabs: "true",
//	onCursorActivity: function (editor) {
//            CodeMirror.handleCursorEvent(editor)
//	},
        onUpdate: function() {
//            updateDisplay()
        },
    })

    // position divs vertically
    function updateDisplay() {
        var h = $("#edit-view").height()
        var offset = $("#edit-view").offset()
        offset.top += h + 20
        $("#graff-view").offset(offset)
    }

    objCodeMirror = CodeMirror(document.querySelector("#obj-view"), {
        value: "",
        mode: {name: "xml", alignCDATA: true},
        lineWrapping: "true",
        lineNumbers: "true",
    })

    $(document).scroll(function (data) {
       if ($(".gallery-panel").css('display') === 'none') {
          return
       }
       var pos = window.innerHeight + document.body.scrollTop
       var bottom = document.body.height
       var height = $(".gallery-panel").height()
//       console.log("scroll() pos="+pos+" heigth="+height)
       if (pos > height) {
           GraffitiCode.ui.loadMoreThumbnails(false)
       }
    })

//    updateDisplay()
    GraffitiCode.ui.start()
})

  </script>
</body>
</html>
