<!-- index.html -->
<html>
  <head>
    <title><%=language%> | Graffiti Code</title>
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="codemirror-theme.css">
    <link rel="stylesheet" href="lint.css">
    <link rel="stylesheet" href="react.css">
    <link rel="stylesheet" href="<%=language%>/style.css"></script>
    <script>
      window.exports = {
        language: "<%=language%>",
        id: "<%=item%>",
        data: "<%=data%>",
      };
    </script>
    <script src="<%=language%>/lexicon.js"></script>
    <script src="<%=language%>/viewer.js"></script>
    <script src="codemirror.js"></script>
    <script src="underscore.js"></script>
<!--
    <script src="react.js"></script>
-->
    <script src="jquery.js"></script>
    <script src="d3.v3.5.js"></script>
    <script src="show-hint.js"></script>
    <script src="parse.js"></script>
    <script src="mode-javascript.js"></script>
    <script src="mode-graffiti.js"></script>
    <script src="lint.js"></script>
    <script src="lint-graffiti.js"></script>
  </head>
  <body>
    <div id="tool-view" style="display:none"></div>
    <div id="src-view" style="display:none"></div>
    <div id="graff-view"></div>
    <div id="obj-view" style="display:none"></div>
    <div id="archive-view" style="display:none"></div>
    <script src="lib/index.js"></script>
  </body>
</html>
