<html>
  <head>
    <title><%=language%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="<%=language%>/style.css">
    <script>
      window.gcexports = {
        language: "<%=language%>",
        id: "<%=item%>",
        view: "<%=view%>",
        version: "<%=version%>",
      };
      switch (window.gcexports.language) {
      case "L106":
        document.title = "Math | " + document.title;
        break;
      default:
        break;
      }
    </script>
    <script src="jquery.js" charset="utf-8"></script>
    <script src="d3.v3.5.js" charset="utf-8"></script>
    <!-- <script src="https://questions.learnosity.com/?v2"></script> -->
    <script src="<%=language%>/viewer.js"></script>
  </head>
  <body>
    <div id="graff-view"></div>
    <script src="lib/form.js"></script>
  </body>
</html>
