<html>
  <head>
    <title><%=language%> | Graffiti Code</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="react.css">
    <link rel="stylesheet" href="<%=language%>/style.css"></script>
    <script>
      window.exports = {
        language: "<%=language%>",
        id: "<%=item%>",
        data: "<%=data%>",
        view: "<%=view%>",
      };
    </script>
    <style>
    .branding {
      font-size: 10;
      opacity: 0.65;
      text-align: center;
    }
    .branding img {
      height: 15px;
    }
    .branding span {
      display:inline-block;
      vertical-align:top;
    }
    </style>
    <script src="<%=language%>/viewer.js"></script>
    <script src="jquery.js"></script>
    <script src="d3.v3.5.js"></script>
  </head>
  <body>
    <div id="graff-view"></div>
    <div class="branding">
      <span>POWERED BY</span>
      <a href="http://www.artcompiler.com"><img src="favicon.ico"/img></a>
      <span>ART COMPILER</span>
    </div>
    <script src="lib/form.js"></script>
  </body>
</html>
