<html>
<head>
  <link rel="stylesheet" href="index.css">
  <script src="jquery.js"></script>
  <title><%=title%></title>
  <style>
    header { display: none; }
  </style>
</head>
<body>
  <div style="position:fixed; top: 200; width:100%">
  <div style="width=100%; margin-left: auto; margin-right-auto;">
    <div style="float:left; margin-left: 100;">
    <h1>
	Make Your Mark
    </h1>
    </div>
    <div style="float:left; margin-left: 20;">
    <h1>
	|
    </h1>
    </div>
    <div style="float:left; margin-left: 20;">
    <h1>
	Read . Write . Remix
    </h1>
    </div>
    <div style="float:left; margin-left: 20;">
    <h1>
	|
    </h1>
    </div>
    <div style="float:left; margin-left: 20;">
    <h1>
	Graffiti Code
    </h1>
    </div>
  </div>
  <div class="splash" style="margin-left: 20;"></div>
  </div>
  <script>

$(document).ready(function () {
  $.get("http://"+location.host+"/graffiti/63", function (data) {
      $(".splash").html(data)
  })
})

  </script>
</body>
</html>
