<html>
<head>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="codemirror.css">
  <link rel="stylesheet" href="simple-hint.css">
  <script src="graffiticode.js"></script>
  <script src="codemirror.js"></script>
  <script src="simple-hint.js"></script>
  <script src="parse.js"></script>
  <script src="mode-graffiti.js"></script>
  <script src="mode-xml.js"></script>
  <script src="mode-javascript.js"></script>
  <script src="jquery.js"></script>
  <script src="d3.v2.js"></script>
  <style>
    .CodeMirror {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
    span.cm-meta {color: #a0b !important;}
    span.cm-error { background-color: black; opacity: 0.4;}
    span.cm-error.cm-string { background-color: red; }
    span.cm-error.cm-tag { background-color: #2b2; }
  </style>
  <title><%=title%></title>
</head>
<body>
  <div id="edit-view" name="code"></div>
  <div id="graff-view"></div>
  <div class="gallery-panel"></div>
  
<!--
  <br/>
  <h3>AST</h3>
  <div id="ast-view" name="code"></div>
  <br/>
  <h3>Graffiti Code</h3>
  <div id="text-view" name="code"></div>
-->
  <script>

$(document).ready(function () {
    editor = CodeMirror(document.querySelector("#edit-view"), {
	mode:  "graffiti",
	lineWrapping: "true",
	lineNumbers: "true",
	onCursorActivity: function (editor) {
            CodeMirror.handleCursorEvent(editor)
            return false
	}
    })

    // delay setting value until the editor has been defined to
    // so that the called functions can get at it.
    editor.setValue(
    "tri 640 240 540 400 740 400.\n" +
    ".")

/*
    var astCodeMirror = CodeMirror(document.querySelector("#ast-view"), {
    value: "",
    mode: {name: "javascript", json: true},
    lineWrapping: "true",
    lineNumbers: "true",
    })
    var textCodeMirror = CodeMirror(document.querySelector("#text-view"), {
    value: "",
    mode: {name: "xml", alignCDATA: true},
    lineWrapping: "true",
    lineNumbers: "true",
    }) 
*/


    GraffitiCode.ui.getPieces()


})

  </script>
</body>
</html>
