<html>
<head>
  <link rel="stylesheet" href="index.css">
  <script src="jquery.js"></script>
  <title><%=title%></title>
  <style>
    header { display: none; }
    body {
    }
  </style>
</head>
<body>
  <div style="width: 780; margin: 100 auto;">
    <div style="float:left;">
      <h1>
	Make Your Mark
      </h1>
    </div>
    <div style="float:left; margin-left: 20;">
      <h1>
	|
      </h1>
    </div>
    <div style="float:left; margin-left: 20;">
      <h1>
	Read . Write . Remix
      </h1>
    </div>
    <div style="float:left; margin-left: 20;">
      <h1>
	|
      </h1>
    </div>
    <div style="float:left; margin-left: 20;">
      <h1>
	Graffiti Code
      </h1>
    </div>
  </div>
  <div style="width: 940; margin: auto;">
    <div class="splash" style="padding: 100 0;"></div>
  </div>
  <script>

$(document).ready(function () {
  $.get("http://"+location.host+"/graffiti/63", function (data) {
      $(".splash").html(data)
  })
})

  </script>
</body>
</html>
