h1 This is Code Cartography.

section.css-table
  section.two-column
    section.cell
      <center><img src="todos.js.l4.C10-detail.png"/></center>
    section.cell
      h2 Navigate.
      p Code Cartography allows you to navigate along hidden paths to find hidden facts about a code base.
      br
      h2 Illuminate.
      p Code Cartography allows you to highlight relationships to reveal a more complete and accurate view of a code base.
      br
      h2 Collaborate.
      p Code Cartography allows you and others to record your insights to create a shared and highly accessible pool of knowledge about a code base.
