<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="codemirror.css">
  <link rel="stylesheet" href="simple-hint.css">
  <link rel="stylesheet" href="codemirror-theme.css">
  <style>
  </style>
<style>
svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 11px;
}
</style>
  <title><%=title%></title>
</head>
<body>
  <div class="main">
    <div class="button-bar"></div>
    <div class="gallery-panel"></div>
    <div class="essay-panel" style="display:none;"></div>
    <div class="edit-panel">
      <div id="editor">
	<div id="edit-view" name="code"></div>
	<div id="obj-view" name="code" style="display:none;"></div>
      </div>
      <div id="graff-view">
      </div>
    </div>
  </div>
  <script>
exports = {
    language: "L102"
};
  </script>
  <script src="underscore.js"></script>
  <script src="jquery.js"></script>
  <script src="d3.v3.js"></script>
  <script src="dagre-d3.js"></script></body>
  <script src="setup.js"></script>
  <script src="L102-lexicon.js"></script>
  <script src="L102-viewer.js"></script>
  <script src="graffiticode.js"></script>
  <script src="parse.js"></script>
  <script src="codemirror.js"></script>
  <script src="simple-hint.js"></script>
  <script src="mode-graffiti.js"></script>
  <script src="mode-xml.js"></script>
  <script src="mode-javascript.js"></script>
</html>
