<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel='stylesheet', href='/layout.css'/>
  <link href='http://fonts.googleapis.com/css?family=Jura:400,600' rel='stylesheet' type='text/css'>
  <script src="https://login.persona.org/include.js"></script>
  <title><%=title%></title>
</head>
<body>
  <header>
    <logo>
      <ul><li>
	  Graffiti Code
	  <br><br>
	  /<%=vocabulary%>
      </li></ul>
    </logo>
    <nav>
      <ul style="float: left; width: 100; text-align: left;">
	<li><a id="workspace-link" class="nav-link" onclick="GraffitiCode.ui.showWorkspace()">Workspace</a></li>
	<li><a id="archive-link" class="nav-link" onclick="GraffitiCode.ui.showArchive()">Archive</a></li>
	<li><a id="start-link" class="nav-link" onclick="GraffitiCode.ui.showTutorial('tutorial-starting')">Starting</a></li>
      </ul>
      <ul style="float: left; width: 100; text-align: left">
	<li><a id="notes-link" class="nav-link" onclick="GraffitiCode.ui.showNotes()">Notes</a></li>
	<li><a id="tutorials-link" class="nav-link" onclick="GraffitiCode.ui.showTutorials()">Tutorials</a></li>
	<li><a id="demos-link" class="nav-link" onclick="GraffitiCode.ui.showDemos()">Demos</a></li>
      </ul>
      <ul style="float: left; width: 100; text-align: left">
	<li><a id="about-link" class="nav-link" onclick="GraffitiCode.ui.showAbout()">About</a></li>
	<li><a id="feedback-link" class="nav-link" onclick="GraffitiCode.ui.showFeedback()">Feedback</a></li>
	<li><a id="donate-link" class="nav-link" onclick="GraffitiCode.ui.showDonate()">Donate</a></li>
      </ul>
      <ul style="float: right; width: 100; text-align: left;">
	<li style="background-color: #bbb; display: inline-block; padding: 2px 10px;"><div id="username" style="background-color: #bbb;"><b>Guest</b></div></li>
	<li><a id="signin" style="">Sign In</a></li>
	<li><a id="signout" style="display: none;">Sign Out</a></li>
      </ul>
    </nav>
  </header>
  <%=body%>
  <script>

var signinLink = document.getElementById('signin');
if (signinLink) {
  signinLink.onclick = function() { navigator.id.request(); };
}
 
var signoutLink = document.getElementById('signout');
if (signoutLink) {
  signoutLink.onclick = function() { navigator.id.logout(); };
}


var currentUser = null;
 
navigator.id.watch({
  loggedInUser: currentUser,
  onlogin: function(assertion) {
    // A user has logged in! Here you need to:
    // 1. Send the assertion to your backend for verification and to create a session.
    // 2. Update your UI.
    $.ajax({
      type: 'POST',
      url: '/login', // This is a URL on your website.
      data: {assertion: assertion},
      success: function(res, status, xhr) {
//          window.location.reload();
          $("#username").html("<b>"+res.name+"</b>")
          $("#signin").css("display", "none")
          $("#signout").css("display", "inline-block")
          $("#username").data("user", res)
      },
      error: function(xhr, status, err) { 
          alert("Login failure: " + err);
      }
    });
  },
  onlogout: function() {
    // A user has logged out! Here you need to:
    // Tear down the user's session by redirecting the user or making a call to your backend.
    // Also, make sure loggedInUser will get set to null on the next page load.
    // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
    $.ajax({
      type: 'POST',
      url: '/logout', // This is a URL on your website.
      success: function(res, status, xhr) {
          $("#username").html("<b>Guest</b>")
          $("#signin").css("display", "inline-block")
          $("#signout").css("display", "none")
          $("#username").data("user", {id:1, email: "guest@graffiticode.org", name: "Guest"})
      },
      error: function(xhr, status, err) { alert("Logout failure: " + err); }
    });
  }
});



  </script>
</body>
</html>
