!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            - if (user)
                a(href="/account") Account:
                    <b> 
                    =user.username
            - else
                a(href="/login") Login

    section#wrapper!= body
      footer 
