h1 Login / Code Cartography.
h3 <font color="#777">Code Cartography is currently in development. If you would like to be notified of updates to this site, please send a note to: jeff@artcompiler.org</font>. Access to the website is private at this time.

form(method='post', action='/login')
  label Username: 
  <br>
  input(name='username', type='text') 
  <br>
  <br>
  label Password: 
  <br>
  input(name='password', type='password') 
  <br>
  <br>
  input(name='submit', type='Submit', value='Login')
