<!-- index.html -->
<html>
  <head>
    <title><%=language%></title>
    <link rel="stylesheet" href="normalize.css">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="views.css" rel="stylesheet">
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="codemirror-theme.css">
    <link rel="stylesheet" href="lint.css">
    <link rel="stylesheet" href="editor.css">
    <link rel="stylesheet" href="<%=language%>/style.css">
    <script src="jquery.js"></script>
    <script>
      window.gcexports = {
        language: "<%=language%>",
        id: "<%=item%>",
        forkID: "<%=forkID%>",
        view: "item",
        version: "<%=version%>",
        refresh: "<%=refresh%>" === "true",
        archive: "<%=archive%>",
        showdata: "<%=showdata%>",
        findMark: "<%=findMark%>",
        findLabel: "<%=findLabel%>",
      };
    </script>
    <script src="<%=language%>/lexicon.js"></script>
    <script src="<%=language%>/viewer.js"></script>
    <script src="codemirror.js"></script>
    <script src="underscore.js"></script>
    <script src="d3.v3.5.js" charset="utf-8"></script>
    <script src="show-hint.js"></script>
    <script src="parse.js"></script>
    <script src="mode-javascript.js"></script>
    <script src="mode-graffiti.js"></script>
    <script src="lint.js"></script>
    <script src="lint-graffiti.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="https://www.artcompiler.com"><img style="opacity:1" width="40" src="logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span style="padding: 3; height: auto"></span>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" title="Refresh" href="#" onclick="handleRefresh(event)"><img style="opacity:.8" width="20" src="refresh.png"></a>
          </li>
          <li class="nav-item">
            <span style="padding: 3; height: auto"></span>
          </li>
          <li class="nav-item">
            <button id="code-btn" title="Open the code view" class="btn btn-secondary my-2 my-sm-0 justify-content-center" style="display:none; margin:0 10 0 0; width:4.5rem" onclick="handleViewClick(event)">
              CODE
            </button>
          </li>
          <li class="nav-item">
            <button id="form-btn" title="Open the form view" class="btn btn-secondary my-2 my-sm-0 justify-content-center" style="display:none; margin:0 10 0 0; width:4.5rem" onclick="handleViewClick(event)">
              FORM
            </button>
          </li>
          <li class="nav-item">
            <button id="data-btn" title="Open the data view" class="btn btn-secondary my-2 my-sm-0 justify-content-center" style="display:none; margin:0 10 0 0; width:4.5rem" onclick="handleViewClick(event)">
              DATA
            </button>
          </li>
          <li class="nav-item">
            <span style="padding: 6; height: auto"></span>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" title="Mark as good, questionable or bad" href="#" onclick="handleMark(event)">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <circle id="mark-circle" cx="11" cy="11" r="9" stroke-width="1" stroke="#777" fill="#fefefe"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <span style="padding: 1; height: auto"></span>
          </li>
          <li class="nav-item">
            <button id="find-btn" title="Open the find view" class="btn btn-outline-secondary my-2 my-sm-0 justify-content-center" style="display:none; margin:0 10 0 0; width:4.5rem" onclick="handleViewClick(event)">
              FIND
            </button>
          </li>
          <li class="nav-item">
            <button id="help-btn" title="Open the help view" class="btn btn-outline-secondary my-2 my-sm-0 justify-content-center" style="display:none; margin:0 10 0 0; width:4.5rem" onclick="handleViewClick(event)">
              HELP
            </button>
          </li>
          <li class="nav-item">
            <span style="padding: 1; height: auto">
            </span>
          </li>
          <li class="nav-item">
            <a id="open-data" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="See data">DATA</a>
          </li>
          <li class="nav-item">
            <a id="open-form" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="Open form">FORM</a>
          </li>
          <li class="nav-item">
            <a id="open-fork" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="Copy item to start something new">FORK</a>
          </li>
        </ul>
        <button class="btn btn-outline-secondary my-2 my-sm-0 justify-content-center" style="display: none; margin:0 10 0 0">Private</button>
       <form id="signin" style="display:none" class="form-inline my-2 my-lg-0">
         <div class="form-row">
           <div class="mb-3">
             <input autofocus id="name-txt" class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="username" onblur="handleSignInBlur(event)"
                    title="User names are case and whitespace insensitive and must include only plain text letters and numbers. E.g. 'Jeff Dyer 1000' is a valid user name.">
             <div id="name-feedback">
             </div>
           </div>
           <div class="mb-3">
             <input id="number-txt" class="form-control mr-sm-2" type="text" placeholder="Mobile number" aria-label="mobile number" onblur="handleSignInBlur(event)"
                    title="Phone number must be in standard US format or international format (including the + prefix and country code) if outside of the US.">
             <div id="number-feedback">
             </div>
           </div>
           <div class="mb-3">
             <button id="signin" class="btn btn-success my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">SIGN IN</button>
             <div id="button-feedback">
             </div>
           </div>
         </div>
       </form>
       <form id="passcode" style="display:none" class="form-inline my-2 my-lg-0">
         <div class="form-row">
           <div class="mb-3">
             <input id="passcode-txt" class="form-control mr-sm-2" type="text" placeholder="Passcode" aria-label="mobile number" onblur="handleSignInBlur(event)">
             <div id="passcode-feedback">
             </div>
           </div>
           <div class="mb-3">
             <button id="passcode" class="btn btn-success my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">VERIFY</button>
             <div id="button-feedback">
             </div>
           </div>
         </div>
       </form>
       <form id="signout" style="display:none" class="form-inline my-2 my-lg-0">
         <!-- <text id="member" class="" aria-label="member">Hi Jeff!&nbsp;&nbsp;</text> -->
         <button id="signout" class="btn btn-secondary my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">SIGN OUT</button>
       </form>
      </div>
    </nav>
    <main role="main" class="container-fluid">
      <div id="help-view"></div>
      <div id="archive-view"></div>
      <div id="alert-view"></div>
      <div id="src-view"></div>
      <div id="graff-view" class="<%=language%>"></div>
      <div id="obj-view"></div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="lib/index.js"></script>
  </body>
</html>
