<!-- index.html -->
<html>
  <head>
    <title><%=language%></title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="codemirror-theme.css">
    <link rel="stylesheet" href="editor.css">
    <link rel="stylesheet" href="<%=language%>/style.css">
    <script src="jquery.js"></script>
    <script>
      window.gcexports = {
        language: "<%=language%>",
        id: "<%=item%>",
        view: "item",
        version: "<%=version%>",
        refresh: "<%=refresh%>",
        archive: "<%=archive%>",
        showdata: "<%=showdata%>",
      };
    </script>
    <script src="<%=language%>/lexicon.js"></script>
    <script src="<%=language%>/viewer.js"></script>
    <script src="codemirror.js"></script>
    <script src="underscore.js"></script>
    <script src="d3.v3.5.js" charset="utf-8"></script>
    <script src="show-hint.js"></script>
    <script src="parse.js"></script>
    <script src="mode-javascript.js"></script>
    <script src="mode-graffiti.js"></script>
    <script src="lint.js"></script>
    <script src="lint-graffiti.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="https://www.artcompiler.com"><img style="opacity:0.75" width="35" src="logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Views</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Repo</a>
              <a class="dropdown-item" href="#">Spec</a>
              <a class="dropdown-item" href="#">Code</a>
              <a class="dropdown-item" href="#">Form</a>
              <a class="dropdown-item" href="#">Data</a>
            </div>
          </li>
        </ul>
        <button class="btn btn-outline-danger my-2 my-sm-0 justify-content-center" style="margin:0 10 0 0">Private</button>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="username">
          <input class="form-control mr-sm-2" type="hidden" placeholder="Mobile Number" aria-label="mobile number">
          <input class="form-control mr-sm-2" type="hidden" placeholder="Passcode" aria-label="passcode">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Signin</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div id="tool-view"></div>
      <div id="archive-view"></div>
      <div id="src-view"></div>
      <div id="graff-view"></div>
      <div id="obj-view"></div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="lib/index.js"></script>
  </body>
</html>
