<!-- index.html -->
<html>
  <head>
    <title><%=language%></title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="normalize.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="views.css" rel="stylesheet">
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="codemirror-theme.css">
    <link rel="stylesheet" href="lint.css">
    <link rel="stylesheet" href="editor.css">
    <script src="jquery.js"></script>
    <script>
      window.gcexports = {
        language: "<%=language%>",
        id: "<%=item%>",
        forkID: "<%=forkID%>",
        view: "item",
        archive: "<%=archive%>",
        showdata: "<%=showdata%>",
        findMark: "<%=findMark%>",
        findLabel: "<%=findLabel%>",
      };
    </script>
    <script src="<%=language%>/lexicon.js"></script>
    <script src="<%=language%>/viewer.js"></script>
    <script src="codemirror.js"></script>
    <script src="underscore.js"></script>
    <script src="d3.v3.5.js" charset="utf-8"></script>
    <script src="show-hint.js"></script>
    <script src="parse.js"></script>
    <script src="mode-javascript.js"></script>
    <script src="mode-graffiti.js"></script>
    <script src="lint.js"></script>
    <script src="lint-graffiti.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="https://www.artcompiler.com"><img style="opacity:1" width="40" src="logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span style="padding: 3; height: auto"></span>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" title="Compile" href="#" onclick="handleRefresh(event)"><img style="opacity:.8" width="20" src="refresh.png"></a>
          </li>
          <li class="nav-item">
            <span style="padding: 2; height: auto"></span>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" title="Mark" href="#" onclick="handleMark(event)">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <circle id="mark-circle" cx="11" cy="11" r="9" stroke-width="1" stroke="#777" fill="#fefefe"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <span style="padding: 0; height: auto"></span>
          </li>
          <li class="nav-item">
            <input autofocus id="label-txt" class="form-control mr-sm-2" type="text" aria-label="Update item label" onblur="handleLabel(event)"
                   title="Update item label">
          </li>
          <li class="nav-item">
            <span style="padding: 10; height: auto"></span>
          </li>
          <li class="nav-item">
            <a id="open-data" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="See the data">DATA</a>
          </li>
          <li class="nav-item">
            <a id="open-code" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="See the code">CODE</a>
          </li>
          <li class="nav-item">
            <a id="open-form" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="Open the form">FORM</a>
          </li>
          <li class="nav-item">
            <a id="open-fork" class="nav-link" style="display:none" href="" onclick="handleOpenClick(event)" title="Copy item">FORK</a>
          </li>
        </ul>
        <button class="btn btn-outline-secondary my-2 my-sm-0 justify-content-center" style="display: none; margin:0 10 0 0">Private</button>
        <form id="signin" style="display:none" class="form-inline my-2 my-lg-0">
          <div class="form-row">
            <div class="mb-3">
              <input autofocus id="name-txt" class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="username" onblur="handleSignInBlur(event)"
                     title="User names are case and whitespace insensitive and must include only plain text letters and numbers. E.g. 'Jeff Dyer 1000' is a valid user name.">
              <div id="name-feedback">
             </div>
            </div>
            <div class="mb-3">
             <input id="number-txt" class="form-control mr-sm-2" type="text" placeholder="Mobile number" aria-label="mobile number" onblur="handleSignInBlur(event)"
                    title="Phone number must be in standard US format or international format (including the + prefix and country code) if outside of the US.">
             <div id="number-feedback">
             </div>
           </div>
           <div class="mb-3">
             <button id="signin" class="btn btn-success my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">SIGN IN</button>
             <div id="button-feedback">
             </div>
           </div>
          </div>
        </form>
       <form id="passcode" style="display:none" class="form-inline my-2 my-lg-0">
         <div class="form-row">
           <div class="mb-3">
             <input id="passcode-txt" class="form-control mr-sm-2" type="text" placeholder="Passcode" aria-label="mobile number" onblur="handleSignInBlur(event)">
             <div id="passcode-feedback">
             </div>
           </div>
           <div class="mb-3">
             <button id="passcode" class="btn btn-success my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">VERIFY</button>
             <div id="button-feedback">
             </div>
           </div>
         </div>
       </form>
       <form id="signout" style="display:none" class="form-inline my-2 my-lg-0">
         <!-- <text id="member" class="" aria-label="member">Hi Jeff!&nbsp;&nbsp;</text> -->
         <button id="signout" class="btn btn-secondary my-2 my-sm-0" onclick="handleSignInClick(event)" type="button">SIGN OUT</button>
       </form>
      </div>
    </nav>
    <main role="main" class="container-fluid">
      <div id="alert-view"></div>
      <div id="accordionViews">
        <div class="card">
          <div class="card-header" id="headingFind">
            <div class="mb-0">
              <button id="find-btn" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-find" aria-expanded="true" aria-controls="collapse-find" onclick="handleViewClick(event)">
                FIND
              </button>
            </div>
          </div>
          <div id="collapse-find" class="collapse show" aria-labelledby="headingFind">
            <div id="find-view" class="card-body"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingCode">
            <div class="mb-0">
              <button id="code-btn" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-code" aria-expanded="true" aria-controls="collapse-code" onclick="handleViewClick(event)">
                CODE
              </button>
            </div>
          </div>
          <div id="collapse-code" class="collapse show" aria-labelledby="headingCode">
            <div id="code-view" class="card-body"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingForm">
            <div class="mb-0">
              <button id="form-btn" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-form" aria-expanded="true" aria-controls="collapse-form" onclick="handleViewClick(event)">
                FORM
              </button>
            </div>
          </div>
          <div id="collapse-form" class="collapse show" aria-labelledby="headingForm">
            <div id="graff-view" class="card-body">
              <div id="form-view"></div>
            </div>
            <div id="form-view"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingData">
            <div class="mb-0">
              <button id="data-btn" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-data" aria-expanded="true" aria-controls="collapse-data" onclick="handleViewClick(event)">
                DATA
              </button>
            </div>
          </div>
          <div id="collapse-data" class="collapse show" aria-labelledby="headingData">
            <div id="data-view" class="card-body"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingHelp">
            <div class="mb-0">
              <button id="help-btn" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-help" aria-expanded="true" aria-controls="collapse-help" onclick="handleViewClick(event)">
                HELP
              </button>
            </div>
          </div>
          <div id="collapse-help" class="collapse show" aria-labelledby="headingHelp">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="views.bundle.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js').then(registration => {
            console.log('SW registered');
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
      }
      </script>
  </body>
</html>
