.cm-s-neat span.cm-comment { color: #586e75; font-style:italic; }
.cm-s-neat span.cm-def { font-weight: bold; color: #00c; }
.cm-s-neat span.cm-param { color: #00c; }
.cm-s-neat span.cm-ref { color: #00e; }
.cm-s-neat span.cm-function { color: #555; }
.cm-s-neat span.cm-string { color: #a22; }
.cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
.cm-s-neat span.cm-punc {color: #000;}
.cm-s-neat span.cm-meta {color: #555;}
.cm-s-neat span.cm-link { color: #3a3; }
.cm-s-neat .cm-strong { color: #eee; }
.cm-s-neat .cm-error,
.cm-s-neat .cm-invalidchar {
  color: #586e75;
  border-bottom: 1px dotted #dc322f;
}


