body {
  padding-top: 5rem;
}
.navbar button {
  font-size: 11;
  font-family: "Helvetica Neue", Helvetica;
}
.navbar a,
.navbar input {
  font-size: 13;
}
.btn-outline-secondary:hover {
  color: #6c757d;
  background-color: transparent;
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.nav-link {
  padding: 5 0 0 0;
}
.btn-link {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 13;
  font-family: "Helvetica Neue", Helvetica;
}
.btn-link:hover{
  color: rgba(0,0,0,1);
  text-decoration: none;
  font-size: 13;
  font-family: "Helvetica Neue", Helvetica;
}
.btn-link:focus {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 13;
  font-family: "Helvetica Neue", Helvetica;
}
.card-header {
  padding: 0;
}
